DISCORD_TOKEN=your_bot_token_here
GUILD_ID=your_guild_id_here
OLLAMA_MODEL=gemma4:e4b #your ai model here - make sure its an ollama model
OLLAMA_BASE_URL=http://host.docker.internal:11434

# optional primary AI server. If added, the bot uses the fallback/host server below.
PRIMARY_AI_BASE_URL=http://1.2.3.4:11434
PRIMARY_AI_MODEL=your_primary_model_here #this one isn't required, if not set, it'll use OLLAMA_MODEL
PRIMARY_AI_SUPPORTS_IMAGES=false

# fallback/host server settings.
FALLBACK_AI_BASE_URL=http://host.docker.internal:11434
FALLBACK_AI_MODEL=your_fallback_model_here #this one isn't required, if not set, it'll use OLLAMA_MODEL
FALLBACK_AI_SUPPORTS_IMAGES=true